---
import BaseLayout from "@/layouts/BaseLayout.astro";
import WantToContribute from "@/components/ui/WantToContribute.astro";
import ChaptersSideBar from "@/components/Tutorials/ChaptersSideBar.astro";
import TutorialPagination from "@/components/Tutorials/TutorialPagination.astro";

import "@/styles/contents.css";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allTutorialData = await getCollection("tutorials");
  return allTutorialData.map((tutorialData) => {
    return {
      params: { slug: tutorialData.data.url },
      props: { tutorialData },
    };
  });
}

const { tutorialData } = Astro.props;

const { Content } = await tutorialData.render();
const pageTitle = `${tutorialData.data.title} - ${tutorialData.data.tutorialName}`;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="relative main-layout flex justify-center mx-auto px-4">
    <ChaptersSideBar
      currentTutorial={tutorialData.data.tutorialName}
      currentTitle={tutorialData.data.title}
    />
    <div class="flex-auto max-w-2xl min-w-0 px-4 sm:pl-8 py-10 lg:max-w-none lg:pr-0">
      <article>
        <div>
          <p class="text-base font-medium text-textSecondary mb-1">{tutorialData.data.chapter}</p>
          <h1 class="text-4xl font-bold tracking-tight">{tutorialData.data.title}</h1>
        </div>
        <main class="mt-6 content grid gap-6 text-lg">
          <Content />
        </main>
      </article>
      <TutorialPagination currentOrder={tutorialData.data.order} />
      <WantToContribute page="tutorial" />
    </div>
  </div>
</BaseLayout>
